<p><strong>Name:</strong> <%= category.name %></p>
<p><strong>Allocated:</strong> <%= category.allocation %></p>
<p><strong>Goal:</strong> <%= category.goal_amount %></p>
<p><strong>Due:</strong> <%= category.due_date %></p>

