<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<%= render partial: 'categories/table', model: @categories %>

<br>

<%= link_to 'New Category', new_category_path, class: "btn btn-secondary" %>
<%= link_to 'Main Page', budget_index_path, class: "btn btn-secondary" %>
