<p id="notice"><%= notice %></p>

<h1>Accounts</h1>

<%= render partial: 'accounts/table', model: @accounts %>

<br>

<%= link_to 'New Account', new_account_path, class: "btn btn-success" %>
<%= link_to 'Main Page', budget_index_path, class: "btn btn-secondary" %>
